body{
    background-color: #e2e2e2;
    background-repeat: no-repeat;
    background-attachment: fixed;}

.btn-floating i{
    font-size: 2.2rem;
}

.personal-side-nav .avatar-wrapper{
    padding: 40px 70px;
}

.panel{
    margin-bottom: 7px;
    margin-right: 10%;
    border-radius: 25px;
}

#topTitle{
    font-size: 26px;
}

#topNav{
    text-align: left;
    cursor: default;
}

#topNav:hover{
    background: #4285F4;
}
.dropdown, .dropup{
    margin-left: 82%;
}

#sortTop{
    padding: 2px 2px 0px 2px;
    box-shadow: 0px 0px 0px;
}

.dropdown-menu{
    position: absolute;
    left: -300%;
}

[type=checkbox]+label{
    height: 12px;
}


.topBarAllTasks{
    background-color: rgb(33,150,243);
    color: white;
}

.topBarCompleted{
    background-color: #4CAF50;
    color: white;
}

.topBarArchived{
    background-color: #FF9800;
    color: white;
}

.topBarInProgress{
    background-color: #F44336;
    color: white;
}

.mdl-button--raised.mdl-button--colored{
    background-color: #2196F3;
}

.st-green{
    border-left: 4px solid #4CAF50;
}

.navBarTitle {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.005em;
}

.navToolbar {
    font-size: 20px;
    letter-spacing: 0.005em;
    box-sizing: border-box;
    font-weight: 400;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 64px;
    max-height: 64px;
    padding: 0 20px;
    margin: 0;
    text-align: center;
}

.lblTitle{
    font-size:12px;
    display: inline;
}

.mdl-data-table td, .mdl-data-table th{
    text-align:left;
}

.dropdown-table{
    margin-left: -1200%;
    cursor:pointer;
}

td { position: relative; }

tr.strikeout td:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  border-bottom: 1px solid #111;
  width: 100%;
}

tr.strikeout td:after {
  content: "\00B7";
  font-size: 1px;
}

th.dpass, td.dpass {display: none;}

/*.options{
    display: none;
}*/

/*.options :hover{
    display: block;
}*/

.modal-footer .btn+.btn{
    margin-bottom: 10px;
}



